.hover-content{
    top: 0;
    left: 0;
    max-width: 200px;
    background-color: #cfb4cf; /* darker light pink */ 
    padding: .10em;
    opacity: .85;
    /* need to remove pointer events so that
    the tooltip doesn't interrupt the mouse events */
    pointer-events: none;
    border-radius: 5px;
    box-shadow: 0 0 7px gainsboro;
  }
  

  .hover-content.visible{
    opacity: .95;
    font-size: 12px;
  }
  
  body {
    background-color: #e8b5c1; /*light pink */
    font-size: 14px;
    font-weight: normal;
    font-family: "Raleway", "Helvetica", sans-serif; 
    color: white;
}
 
  
  h1 {
      color: #ad6a7a;
      text-align: Center;
      font-size: 50px;
      font-weight: bold; 
      font-family: "Meddon", serif;
      letter-spacing: 2px; 
  }

  h2 {
    color: #FC5A8D;
    text-align: Center;
    font-weight: bold; 
    font-size: 20px;
    letter-spacing: 3px;
    font-family: "Raleway", serif;
}

h3 {
    color: #CD5E77;
    text-align: Center;
    font-weight: bold; 
    font-size: 20px;
    letter-spacing: 3px;
    font-family: "Raleway", serif;
}
  div {
  
      padding: 10px;
      text-align: Center;
  }
  
  text {
    fill : white;
  }
  
  #introduction{
      /* padding-top: 1em; */
      grid-column: 1/3;
      grid-row: 1;
      border: 3px solid red;
  }

  #barchart-container{
    padding-top: 1em;
    grid-column; 2/4;
    grid-row: 1/3;
    border: 3px solid blue;
}

#d3-container{
    padding-top: 1em;
    grid-column; 1;
    grid-row: 2/5;
    border: 3px solid green;
}
  }
  svg{
      font-family: "Raleway", "Montesserat", serif;
  }